# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate.d/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
tfplan

# Env/config
.env
*.tfvars
!**/*.tfvars.template

# OS/editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/

